.footer {
    background-color: #F6CA45;
    height: 275px !important;
}
.footer a {
    color: #000;
    text-decoration: none;
}
.footer > .row {
    height: 100% !important;
}
#jDavidson {
    font-size: 16fr;
    font-weight: bold;
}